<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p><%= link_to "Home", "/" %></p>
    <h1 class="navbar-text">Admin Dashboard</h1>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', admin_dashboard_index_path, style: 'pull-right' %></li>
      <li><%= link_to 'Merchants', admin_merchants_path, style: 'pull-right' %></li>
      <li><%= link_to 'Invoices', admin_invoices_path, style: 'pull-right' %></li>
    </ul>
  </nav>
</div>
