<%= render partial: 'shared/admin_links', locals: {path: "/admin"} %>

<body>
  <div class='row'>
    <h2 class='col-12'>Update <%= @merchant.name %></h2>
  </div>

 <%= render partial: 'form', locals: { method: :patch,
                                       url: admin_merchant_path(@merchant),
                                       class: 'merchant_form',
                                       local: true } %>

</body>
