<h1>Little Etsy Shop Merchants</h1>

<% @merchants.each_with_index do |merchant, index|%>
<div id="merchant-<%= index %>">
  <h3><%= link_to "#{merchant.name}", merchant_dashboard_index_path %></h3>
</div>
<% end %>
